In [23]:
import polars as pl

In [24]:
df = pl.read_parquet("data/arwu_2003-2023.parquet")

In [25]:
df.head()

shape: (5, 5)
┌──────┬───────────────────────────────────┬─────────┬───────┬──────┐
│ rank ┆ univ_name                         ┆ country ┆ score ┆ year │
│ ---  ┆ ---                               ┆ ---     ┆ ---   ┆ ---  │
│ i64  ┆ str                               ┆ str     ┆ f64   ┆ i64  │
╞══════╪═══════════════════════════════════╪═════════╪═══════╪══════╡
│ 1    ┆ Harvard University                ┆ USA     ┆ 100.0 ┆ 2003 │
│ 2    ┆ Stanford University               ┆ USA     ┆ 83.5  ┆ 2003 │
│ 3    ┆ California Institute of Technolo… ┆ USA     ┆ 76.3  ┆ 2003 │
│ 4    ┆ University of California, Berkel… ┆ USA     ┆ 74.0  ┆ 2003 │
│ 5    ┆ University of Cambridge           ┆ GBR     ┆ 73.4  ┆ 2003 │
└──────┴───────────────────────────────────┴─────────┴───────┴──────┘

In [26]:
df.describe()

shape: (9, 6)
┌────────────┬────────────┬───────────────────────────────────┬─────────┬───────────┬─────────────┐
│ statistic  ┆ rank       ┆ univ_name                         ┆ country ┆ score     ┆ year        │
│ ---        ┆ ---        ┆ ---                               ┆ ---     ┆ ---       ┆ ---         │
│ str        ┆ f64        ┆ str                               ┆ str     ┆ f64       ┆ f64         │
╞════════════╪════════════╪═══════════════════════════════════╪═════════╪═══════════╪═════════════╡
│ count      ┆ 13816.0    ┆ 13816                             ┆ 13816   ┆ 2104.0    ┆ 13816.0     │
│ null_count ┆ 0.0        ┆ 0                                 ┆ 0       ┆ 11712.0   ┆ 0.0         │
│ mean       ┆ 367.615518 ┆ null                              ┆ null    ┆ 36.65846  ┆ 2014.708382 │
│ std        ┆ 252.799107 ┆ null                              ┆ null    ┆ 13.314495 ┆ 6.179778    │
│ min        ┆ 1.0        ┆ AGH University of Science and Te… ┆ ARE     ┆ 23.5      ┆ 2003.0      │
│ 25%        ┆ 175.0      ┆ null                              ┆ null    ┆ 27.8      ┆ 2009.0      │
│ 50%        ┆ 350.0      ┆ null                              ┆ null    ┆ 31.9      ┆ 2016.0      │
│ 75%        ┆ 456.0      ┆ null                              ┆ null    ┆ 40.9      ┆ 2020.0      │
│ max        ┆ 950.0      ┆ Zhongnan University of Economics… ┆ ZAF     ┆ 100.0     ┆ 2023.0      │
└────────────┴────────────┴───────────────────────────────────┴─────────┴───────────┴─────────────┘

In [27]:
df.group_by(["country", "year"]).agg(pl.col("rank").count().alias("arwu_ranked_num"), pl.col("score").sum().alias("arwu_sum_score")).sort(by="arwu_ranked_num", descending=True).head(10)

shape: (10, 4)
┌─────────┬──────┬─────────────────┬────────────────┐
│ country ┆ year ┆ arwu_ranked_num ┆ arwu_sum_score │
│ ---     ┆ ---  ┆ ---             ┆ ---            │
│ str     ┆ i64  ┆ u32             ┆ f64            │
╞═════════╪══════╪═════════════════╪════════════════╡
│ USA     ┆ 2018 ┆ 217             ┆ 1899.4         │
│ USA     ┆ 2020 ┆ 206             ┆ 1745.8         │
│ USA     ┆ 2019 ┆ 206             ┆ 1872.3         │
│ USA     ┆ 2021 ┆ 200             ┆ 1714.8         │
│ USA     ┆ 2022 ┆ 196             ┆ 1689.7         │
│ CHN     ┆ 2023 ┆ 191             ┆ 310.6          │
│ USA     ┆ 2017 ┆ 191             ┆ 1971.0         │
│ USA     ┆ 2023 ┆ 187             ┆ 1614.3         │
│ USA     ┆ 2004 ┆ 170             ┆ 2183.7         │
│ USA     ┆ 2005 ┆ 168             ┆ 2180.2         │
└─────────┴──────┴─────────────────┴────────────────┘

In [28]:
countries = set(df["country"])