In [32]:
import requests
import pandas as pd
from io import StringIO
from multiprocessing.pool import ThreadPool

In [33]:
years = list(i for i in range(2000, 2024))

In [34]:
def download_imo(y):
    url = f"https://www.imo-official.org/year_country_r.aspx?year={y}&column=total&order=desc&download=XML"
    content = StringIO(requests.get(url).text)
    df = pd.read_xml(content)
    df["year"] = y
    return df

In [35]:
pool = ThreadPool(len(years))
dfs = pool.map(download_imo, years)

In [36]:
total_df = pd.concat(dfs, ignore_index=True)

In [37]:
total_df.head()

,code,name,team_size,problem1,problem2,problem3,problem4,problem5,problem6,total,rank,gold_medals,silver_medals,bronze_medals,honourable_mentions,year
0,CHN,People's Republic of China,6,42.0,42.0,19.0,39.0,42.0,34.0,218.0,1.0,6.0,0.0,0.0,0.0,2000
1,RUS,Russian Federation,6,42.0,36.0,25.0,38.0,42.0,32.0,215.0,2.0,5.0,1.0,0.0,0.0,2000
2,USA,United States of America,6,38.0,40.0,27.0,39.0,22.0,18.0,184.0,3.0,3.0,3.0,0.0,0.0,2000
3,KOR,Republic of Korea,6,42.0,40.0,15.0,24.0,30.0,21.0,172.0,4.0,3.0,3.0,0.0,0.0,2000
4,BGR,Bulgaria,6,42.0,35.0,5.0,25.0,30.0,32.0,169.0,5.0,2.0,3.0,1.0,0.0,2000

In [39]:
total_df.to_parquet("../data/imo_00_23.parquet")

In [40]:
import polars as pl

In [43]:
pisa = pl.scan_parquet("../data/combined_PISA_00_18_all.parquet")

In [47]:
pisa.select("year").collect().unique()

shape: (6, 1)
┌──────┐
│ year │
│ ---  │
│ i64  │
╞══════╡
│ 2006 │
│ 2003 │
│ 2000 │
│ 2018 │
│ 2012 │
│ 2009 │
└──────┘