In [1]:
import polars as pl

In [2]:
bl = pl.read_csv("../data/barrolee.csv")

In [3]:
bl.head()

shape: (5, 20)
┌────────┬─────────┬──────┬─────┬───┬────────────┬────────┬──────────────────────────────┬────────┐
│ BLcode ┆ country ┆ year ┆ sex ┆ … ┆ yr_sch_ter ┆ WBcode ┆ region_code                  ┆ pop    │
│ ---    ┆ ---     ┆ ---  ┆ --- ┆   ┆ ---        ┆ ---    ┆ ---                          ┆ ---    │
│ i64    ┆ str     ┆ i64  ┆ str ┆   ┆ f64        ┆ str    ┆ str                          ┆ f64    │
╞════════╪═════════╪══════╪═════╪═══╪════════════╪════════╪══════════════════════════════╪════════╡
│ 1      ┆ Algeria ┆ 1950 ┆ MF  ┆ … ┆ 0.01       ┆ DZA    ┆ Middle East and North Africa ┆ 4858.0 │
│ 1      ┆ Algeria ┆ 1955 ┆ MF  ┆ … ┆ 0.008      ┆ DZA    ┆ Middle East and North Africa ┆ 5302.0 │
│ 1      ┆ Algeria ┆ 1960 ┆ MF  ┆ … ┆ 0.01       ┆ DZA    ┆ Middle East and North Africa ┆ 5658.0 │
│ 1      ┆ Algeria ┆ 1965 ┆ MF  ┆ … ┆ 0.014      ┆ DZA    ┆ Middle East and North Africa ┆ 5982.0 │
│ 1      ┆ Algeria ┆ 1970 ┆ MF  ┆ … ┆ 0.011      ┆ DZA    ┆ Middle East and North Africa ┆ 6531.0 │
└────────┴─────────┴──────┴─────┴───┴────────────┴────────┴──────────────────────────────┴────────┘

In [4]:
bl_useful_years = bl.filter(pl.col("year") >= 2000).select(["country", "year", "yr_sch", "yr_sch_pri", "yr_sch_sec", "yr_sch_ter", "WBcode"])
bl_useful_years.sort(by=["country", "year"]).head(10)

shape: (10, 7)
┌─────────────┬──────┬────────┬────────────┬────────────┬────────────┬────────┐
│ country     ┆ year ┆ yr_sch ┆ yr_sch_pri ┆ yr_sch_sec ┆ yr_sch_ter ┆ WBcode │
│ ---         ┆ ---  ┆ ---    ┆ ---        ┆ ---        ┆ ---        ┆ ---    │
│ str         ┆ i64  ┆ f64    ┆ f64        ┆ f64        ┆ f64        ┆ str    │
╞═════════════╪══════╪════════╪════════════╪════════════╪════════════╪════════╡
│ Afghanistan ┆ 2000 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG    │
│ Afghanistan ┆ 2005 ┆ 3.321  ┆ 2.29       ┆ 0.807      ┆ 0.224      ┆ AFG    │
│ Afghanistan ┆ 2010 ┆ 3.933  ┆ 2.683      ┆ 1.022      ┆ 0.228      ┆ AFG    │
│ Afghanistan ┆ 2015 ┆ 4.826  ┆ 3.278      ┆ 1.266      ┆ 0.282      ┆ AFG    │
│ Albania     ┆ 2000 ┆ 9.931  ┆ 6.925      ┆ 2.793      ┆ 0.213      ┆ ALB    │
│ Albania     ┆ 2005 ┆ 10.237 ┆ 7.218      ┆ 2.884      ┆ 0.136      ┆ ALB    │
│ Albania     ┆ 2010 ┆ 10.437 ┆ 6.922      ┆ 3.453      ┆ 0.061      ┆ ALB    │
│ Albania     ┆ 2015 ┆ 10.972 ┆ 6.742      ┆ 3.725      ┆ 0.506      ┆ ALB    │
│ Algeria     ┆ 2000 ┆ 6.056  ┆ 4.013      ┆ 1.835      ┆ 0.208      ┆ DZA    │
│ Algeria     ┆ 2005 ┆ 6.43   ┆ 4.272      ┆ 1.867      ┆ 0.29       ┆ DZA    │
└─────────────┴──────┴────────┴────────────┴────────────┴────────────┴────────┘

In [5]:
bl_useful_years.describe()

shape: (9, 8)
┌────────────┬─────────────┬──────────┬──────────┬────────────┬────────────┬────────────┬────────┐
│ statistic  ┆ country     ┆ year     ┆ yr_sch   ┆ yr_sch_pri ┆ yr_sch_sec ┆ yr_sch_ter ┆ WBcode │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆ ---        ┆ ---        ┆ ---        ┆ ---    │
│ str        ┆ str         ┆ f64      ┆ f64      ┆ f64        ┆ f64        ┆ f64        ┆ str    │
╞════════════╪═════════════╪══════════╪══════════╪════════════╪════════════╪════════════╪════════╡
│ count      ┆ 584         ┆ 584.0    ┆ 584.0    ┆ 584.0      ┆ 584.0      ┆ 584.0      ┆ 584    │
│ null_count ┆ 0           ┆ 0.0      ┆ 0.0      ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ 0      │
│ mean       ┆ null        ┆ 2007.5   ┆ 8.435408 ┆ 4.856295   ┆ 3.119276   ┆ 0.459848   ┆ null   │
│ std        ┆ null        ┆ 5.594962 ┆ 2.893852 ┆ 1.390001   ┆ 1.596569   ┆ 0.388903   ┆ null   │
│ min        ┆ Afghanistan ┆ 2000.0   ┆ 1.133    ┆ 0.989      ┆ 0.134      ┆ 0.0        ┆ AFG    │
│ 25%        ┆ null        ┆ 2005.0   ┆ 6.227    ┆ 3.945      ┆ 1.835      ┆ 0.134      ┆ null   │
│ 50%        ┆ null        ┆ 2010.0   ┆ 8.799    ┆ 5.075      ┆ 3.144      ┆ 0.367      ┆ null   │
│ 75%        ┆ null        ┆ 2010.0   ┆ 10.924   ┆ 5.829      ┆ 4.378      ┆ 0.68       ┆ null   │
│ max        ┆ Zimbabwe    ┆ 2015.0   ┆ 13.275   ┆ 8.866      ┆ 7.915      ┆ 1.846      ┆ ZWE    │
└────────────┴─────────────┴──────────┴──────────┴────────────┴────────────┴────────────┴────────┘

In [6]:
dicts = bl_useful_years.to_dicts()

In [7]:
len(dicts)

584

In [8]:
additional = []
for row in dicts:
    y = row["year"]
    extend = 5 if y < 2015 else 8
    for i in range(1, extend):
        temp = row.copy()
        temp["year"] = y + i
        additional.append(temp)

In [9]:
final = dicts + additional

In [10]:
compiled = pl.from_dicts(final)

In [11]:
compiled = compiled.sort(by=["country", "year"])
compiled.head()

shape: (5, 7)
┌─────────────┬──────┬────────┬────────────┬────────────┬────────────┬────────┐
│ country     ┆ year ┆ yr_sch ┆ yr_sch_pri ┆ yr_sch_sec ┆ yr_sch_ter ┆ WBcode │
│ ---         ┆ ---  ┆ ---    ┆ ---        ┆ ---        ┆ ---        ┆ ---    │
│ str         ┆ i64  ┆ f64    ┆ f64        ┆ f64        ┆ f64        ┆ str    │
╞═════════════╪══════╪════════╪════════════╪════════════╪════════════╪════════╡
│ Afghanistan ┆ 2000 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG    │
│ Afghanistan ┆ 2001 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG    │
│ Afghanistan ┆ 2002 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG    │
│ Afghanistan ┆ 2003 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG    │
│ Afghanistan ┆ 2004 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG    │
└─────────────┴──────┴────────┴────────────┴────────────┴────────────┴────────┘

In [12]:
export = compiled.select(["year", "yr_sch", "yr_sch_pri", "yr_sch_sec", "yr_sch_ter", "WBcode"]).rename({"WBcode": "country"})

In [13]:
export.head()

shape: (5, 6)
┌──────┬────────┬────────────┬────────────┬────────────┬─────────┐
│ year ┆ yr_sch ┆ yr_sch_pri ┆ yr_sch_sec ┆ yr_sch_ter ┆ country │
│ ---  ┆ ---    ┆ ---        ┆ ---        ┆ ---        ┆ ---     │
│ i64  ┆ f64    ┆ f64        ┆ f64        ┆ f64        ┆ str     │
╞══════╪════════╪════════════╪════════════╪════════════╪═════════╡
│ 2000 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG     │
│ 2001 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG     │
│ 2002 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG     │
│ 2003 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG     │
│ 2004 ┆ 3.034  ┆ 2.192      ┆ 0.626      ┆ 0.216      ┆ AFG     │
└──────┴────────┴────────────┴────────────┴────────────┴─────────┘

In [14]:
export.write_csv("../data/barrolee_imputed_nearest.csv")